@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.layoutContainer {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.sideNav {
  width: 250px; 
  height: 100%; /* Full height */
  position: fixed; /* Make it fixed to the viewport */
}
.contentContainer {
  /* margin-left: 250px;  */
  width: calc(100% - 250px); /* Remaining width */
  overflow-y: auto; /* Add scroll to content if needed */
  background-color: #fff;
  color: whitesmoke;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
